* {
	margin: 0;
	padding: 0;
	border: 0;
}

a {
	text-decoration: none;
}

body {
	background-image: url("images/hero.jpg");
	background-position: center bottom -90%;
	background-repeat: no-repeat;
}

/* --- TOP NAV BAR --- */
.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

nav {
	width: fit-content;
	margin: 80px auto 100px auto;
	height: 40px;
	border-radius: 5px;
	background: linear-gradient(0deg, #666 20%, #555 50%, #888 50% 80%, #999);
}

.btn-nav {
	width: 100px;
	/* border: solid 1px #333; */
}

.btn-ext {
	width: 150px;
}

nav input {
	height: 20px;
	width: 120px;
	margin-right: 20px;
	border-radius: 9px;
}

nav a {
	color: #fff;
	text-shadow: 1px 1px #333;
}

#icon-logo {
	width: 20px;
	padding: 0 40px;
}

#icon-search {
	width: 10px;
}

/* --- MAIN --- */
main {
	text-align: center;
}

main > * {
	margin-bottom: 30px;
}

main img {
	margin-left: 10px;
}

.text-thin {
	font-family: 'Times New Roman', Times, serif;
	font-weight: lighter;
	color: #fff;
}

main h2 {
	font-size: 4rem; 
	margin-top: -20px;
	margin-bottom: 20px;
}

main p {
	font-size: 2rem;
	margin-top: 0px;
	margin-bottom: 100px;
}

main a {
	margin-top: -40px;
	margin-bottom: 150px;
	font-size: 1.5rem; 
}

#icon-play {
	width: 30px;
	margin-top: -40px;
	margin-bottom: 150px;
}

/* --- SECTION --- */
.offers {
	background-position: center;
	display: inline-block;
	width: 360px;
	height: 200px;
}

.product-1 {	background-image: url("images/pick1.jpg"); }
.product-2 {	background-image: url("images/pick2.jpg"); }
.product-3 {	background-image: url("images/pick3.jpg"); }
.product-4 {	background-image: url("images/pick4.jpg"); }

.products-images {
	background-position: center;
  background-size: 300px 200px;
}

/* --- FOOTER --- */
footer {
	width: 920px;
	margin: 20px auto;
	background: #fff;
}

footer a {
	color: #00A5E2;
	font-size: 0.7rem;
}

footer small {
	font-size: 0.7rem;
	color: #666;
}

.footer-links {
	display: flex;
	justify-content: space-between;
	height: 20px;
}

.copyright {
	margin-top: 10px;
}

.bg-white {
	background: #fff;
	padding-top: 2px;
	padding-bottom: 15px;
}

.bar p {
	padding: 0 3px;
	font-size: 12px;
}